*{
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* background-color: rgba(209, 207, 207, 0.737); */
    padding:6px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.331);
    /* border-radius: 12px; */
    justify-content: space-between;
   
}
.details{
    margin-left: 10px;
}
.flex > img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}
h4{
    margin: 0;
}
.delete{
    cursor: pointer;
    background: red;
    border: none;
    padding: 6px 9px;
    color: white;
    border-radius:3px;
    font-size: 10px;
}